@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playwrite+CU+Guides&family=Playwrite+NZ+Basic+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



*{
    margin: 0px;
    padding: 0px;
   font-family: "Noto Sans", sans-serif;
   box-sizing: border-box;
}
.container{
     width: 100vw;
    height: 100vh;
    background-color: #0f8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-login{
    width:  85vw;
    height: 85vh;
    background-color: #2b134b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}


.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login-image{
    width: 25vw;
    
}

.left-login h1{
    font-size: 3vw;
    color: #77ffc0;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;  /* 1 valor = ao eixo x, 2 valor = sombra em cima ou embaixo -12 vai pra cima, 3 valor = blur e 4 valor = cor */
}

.card-login h1{
    color: #0f8;
    font-weight: 800;
    margin: 0;
}

.textfield{ 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}


.textfield input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield label{
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfield input::placeholder{
    color: #f0ffff94;
}


.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background-color: #0f8;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .container{
        background: #2b134b;
    }
    
    .main-login{
        flex-direction: column;
    }
    .left-login h1{
        display: none;
    }

    .left-login{
        width: 100%;
        height: auto;
    }

    
    .right-login{
        width: 100%;
        height: auto;
    }

    .left-login-image{
        width: 50vw;
    }

    .card-login{
        width: 90%;
    }
}